# Servidor
HOST=0.0.0.0
PORT=3000

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://practica1-web-g8-331725318481-us-east-1-an.s3-website-us-east-1.amazonaws.com

# MySQL RDS
DB_HOST=cloudcinema-db-g8.ccpys6oma90l.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=cloudcinema
DB_USER=admin
DB_PASSWORD=password-g8-rds

# AWS S3
AWS_REGION=us-east-1
S3_BUCKET=practica1-images-g8-331725318481-us-east-1-an
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key

# Límites
MAX_FILE_SIZE_MB=5